<script>
   $(function () {
       var navLi = $(".HouseDetails_nav li")
       var windowUrl = location.protocol + '//' + location.hostname + location.pathname;

       navLi.each(function () {
           var t = $(this).find("a").attr("href");
           if(t==windowUrl){
               $(this).addClass("on").siblings().removeClass("on")
           }
       });
   });
</script>


* {
    margin : 0;
    padding: 0;
}

html {
    font-size: 14px;
}

.container {
    width           : 100vw;
    height          : 10vh;
    background-color: var;
    align-items     : center;
    justify-content : center;
    display         : flex;
    font-family     : 'Montserrat', sans-serif, Arial, 'Microsoft Yahei';
}

.channel {
    position   : absolute;
    width      : 80%;
    text-align : center;
    top        : 50%;
    left       : 50%;
    transform  : translate(-50%, -200px);
    font-size  : 30px;
    font-weight: bold;
    color      : #fff;
}

nav {
    position        : relative;
    height          : 50px;
    background-color: #007fff;
    border-radius   : 8px;
    box-shadow      : 0 2px 3px rgba(0, 0, 0, 0.1);
}

nav a {
    position   : relative;
    display    : block;
    float      : left;
    font-size  : 15px;
    line-height: 50px;

    height             : 50px;
    color              : black;
    text-transform     : uppercase;
    text-decoration    : none;
    text-align         : center;
    z-index            : 10;
}

nav a:nth-child(1) {
    width: 100px;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(3) {
    width: 100px;
}


nav .animation {
    position        : absolute;
    height          : 100%;
    background-color: white;
    z-index         : 9;
    border-radius   : 8px;
    transition: all 0.3s;
}

.start-home,
nav a:nth-child(1):hover~.animation {
    width: 100px;
    left : 0px;
}
.start-resume,
nav a:nth-child(2):hover~.animation {
    width: 110px;
    left : 100px;
}
.start-project,
nav a:nth-child(3):hover~.animation {
    width: 100px;
    left : 210px;
}

body {
    /* Old browsers */
    background: #cceeff;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #cceeff, #00ffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #cceeff, #0040ff);
    margin: 0;
    padding: 0;
}

h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  width: 70%;
}

p {
  color: aliceblue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  font-style: italic;
  line-height: 34px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 10%;
  width: 90%;
}

.content {
  padding: 40px;
}

.image {
    background-size: cover;
    agile: center;


src
  background-position: left;
    height: 800px;
    position: relative;
}
.center {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top:-9px;
    color: red;
}
.image1 {
  background-size: cover;src
  background-position: center;
  height:800px;
  position: relative;
}
.center1{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top:-9px;
    color: red;
}
.writer-img {
  -webkit-box-shadow: 10px 0px 10px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 10px 0px 10px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 100px;
}
h1 {
	text-align: center;
	}
p1{
  font-size:20px
}
p2{
  color:red;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
p4{
font-size:20px
}
p7{
	font-size:23px;
	color: aliceblue;
 	line-height: 1.3em;
 	text-align: left;
 	width: 100%;
}
p6{
	font-size:18px;
	color: aliceblue;
 	line-height: 1.3em;
 	text-align: left;
 	width: 100%;
}